<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 νμ΄μ§€</title>
  </head>
  <body>
    <h1>π¨ 404 Error</h1>
    <span> μ°Ύμ„ μ μ—†λ” νμ΄μ§€μ…λ‹λ‹¤.</span><br /><br />
    <span> URLμ„ ν™•μΈν•΄μ£Όμ„Έμ”.</span><br /><br />
    <a href="/">HOMEμΌλ΅ κ°€κΈ°</a>
  </body>
</html>
