/*
1. rlqhs
 - nesting
 - 자기자신 선택 &
 - 변수 사용
*/

// $color-blue: blue;
// $boxShadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
@import "utils";

.div1 {
  width: 100px;
  height: 100px;
  background-color: $color-red;
  .div2 {
    width: 50%;
    height: 50%;
    background-color: $color-orange;
    box-shadow: inset $boxShadow;
    .div3 {
      background-color: $color-yellow;
      width: 50%;
      height: 50%;
      box-shadow: $boxShadow;
    }
  }
  .btn {
    display: inline-block;
    transition: $animation-duration;
    width: 33%;
    font-size: 8px;
    height: 40px;
    padding: 0;
    color: white;

    // .btn.orangered
    &.orangered {
      background-color: orangered;
    }
    // .btn--opancity
    &--opacity {
      background-color: $color-blue;
      opacity: 0.5;
      &:hover {
        opacity: 0.2;
      }
    }
    &--blue {
      background-color: $color-blue;
    }
  }
}

.container {
  width: 100%;
  background-color: gainsboro;
  .box1 {
    @include box;
    // &:nth-child(1) {
    //   width: 100px;
    // }
    // &:nth-child(2) {
    //   width: 120px;
    // }
    // &:nth-child(3) {
    //   width: 14 0px;
    // }

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        width: 80px + 20px * $i;
      }
    }
  }

  .circle {
    // @include circle($color-red, 0.8);
    $circleBgColors: ($color-orange, $color-yellow, $color-green);
    // &:nth-of-type(1) {
    //   @include circle($color-red, 0.8);
    // }
    // &:nth-of-type(2) {
    // }
    // &:nth-of-type(3) {
    // }

    @each $el in $circleBgColors {
      // index ($리스트, $리스트의 value)
      // 반환값 리스트의 value에 대한 index : 1,2,3, ...
      $index: index($circleBgColors, $el);
      &:nth-of-type(#{$index}) {
        @include circle($el, 0.8);
      }
    }
  }
  .box2 {
    @include box2();
    &:nth-of-type(4) {
      @include box2($color-yellow, 20px, navy);
    }
    &:nth-of-type(5) {
      @include box2(orangered, 30px, black);
    }
  }

  .prac {
    @include prac();
    &:nth-of-type(1) {
      @include prac($color-red, 20px);
    }
    &:nth-of-type(2) {
      @include prac($color-yellow, 20px);
    }
    &:nth-of-type(3) {
      @include prac($color-green, 20px);
    }
  }
}

// 이미지에 접근하기
.img-test {
  width: 100px;
  height: 100px;
  border: 1px solid blue;
  &.src-img {
    // background-image 속성은 상대경로명 사용
    background-image: url("../assets/profile.png");
  }

  &.public-img {
    // 상대경로가 아닌 public은 /로부터 접근
    background-image: url("/assets/profile.png");
  }
}

// 실습문제
.practice {
  display: flex;
  justify-content: space-evenly;
  > div {
    width: 300px;
    height: 500px;
    background-color: $color-blue;
    margin: 50px 0;
    border-radius: 5%;
    box-shadow: $boxShadow;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        background-image: url("/assets/practice#{$i}.png");
      }
    }
  }
}
// &:nth-child(1) {
//   background-image: url("/assets/practice1.png");
// }
// &:nth-child(2) {
//   background-image: url("/assets/practice2.png");
// }
// &:nth-child(3) {
//   background-image: url("/assets/practice3.png");
// }
// &:nth-child(4) {
//   background-image: url("/assets/practice4.png");
// }

// 실습문제 참고. css 코드
.larva {
  position: relative;
}
.larva .eye {
  border-radius: 50%;
  position: absolute;
}
.larva .eye.eye-white {
  width: 45px;
  height: 45px;
  top: 15px;
  left: 10px;
  background-color: white;
}
.larva .eye.eye-black {
  width: 25px;
  height: 25px;
  top: 10px;
  left: 4px;
  background-color: black;
}

.larva .body {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
}
.larva .body.body1 {
  top: 100px;
  left: 100px;
  background-color: rgb(0, 0, 166);
}
.larva .body.body2 {
  top: 150px;
  left: 160px;
  background-color: rgb(36, 61, 206);
}
.larva .body.body3 {
  top: 190px;
  left: 200px;
  background-color: rgb(52, 118, 231);
}
.larva .body.body4 {
  top: 240px;
  left: 220px;
  background-color: rgb(47, 146, 233);
}
.larva .body.body5 {
  top: 280px;
  left: 280px;
  background-color: rgb(140, 191, 253);
  z-index: 10;
}
.larva .grass {
  position: absolute;
  top: 260px;
  left: 0;
}
