* {
  margin: 0;
}

// header
.header {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  .menu-item {
    margin: 0 8px;
  }
}

.StudentPage {
  background-color: aqua;
}

.CordingOnPage {
  background-color: aqua;
}
