<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>실습. 파일 업로드</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <form action="/sign" method="post" enctype="multipart/form-data">
      아이디<input type="text" name="id" /><br />
      비밀번호<input type="text" name="pw" /><br />
      이름<input type="text" name="name" /><br />
      나이<input type="text" name="age" /><br />
      프로필 사진<input type="file" id="profile" name="profile" /><br />
      <button type="button" onclick="reset()">리셋</button>
      <button type="submit" onclick="signUp()">회원가입</button><br />
    </form>
  </body>
</html>
