/* .container {
  width: 500px;
  height: 500px;
  background-color: bisque;
  display: flex;
  justify-content: start;
  justify-content: end;
  flex-direction: column;
}

.items {
  width: 100px;
  height: 100px;
  background-color: darkgray;
  border: 1px solid black;
} */

.container {
  width: 500px;
  height: 500px;
  background-color: bisque;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  align-items: center;
  /* align-content: flex-start; */
  align-content: center;
}

.items {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
