<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include('head',{title:'home'})%>
  </head>
  <body>
    <%- include('header')%>
    <h1>session 실습</h1>
    <p>여기는 홈입니다.</p>

    <!-- 로그인 되었다면 -->
    <%if (isLogin) {%>
    <p><%=user%>님 환영합니다.</p>
    <%} else{%>
    <!-- 로그인 되지 않았다면 -->
    <p>로그인을 하직 하지 않으셨군요, 로그인을 진행해보세요!</p>
    <%}%>
  </body>
</html>
