.div {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: yellow;
}

.prac4 {
  background-color: bisque;
  color: orange;
  text-align: center;
}

.prac5 {
  text-align: center;
}
