body {
  height: 2000px;
  background-color: rgb(194, 194, 194);
}

header {
  position: fixed;
}

header > div {
  display: inline-block;
}

#search {
  border-radius: 5px;
  background-color: gray;
  color: white;
}

input::placeholder {
  color: white;
}

.container {
  width: 90%;
  height: 90%;
  background-color: rgb(45, 45, 45);
  text-align: center;
  border-radius: 10px;
}

.con1 {
  display: inline-block;
}

.container2 {
  width: 90%;
  height: 90%;
  background-color: rgb(131, 131, 131);
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
